html, body {
	margin:0;
	padding:0;
	font-family: "Optima", x"Monaco", "Andale Mono", Helvetica, sans-serif;
	font-size: 16px;
	clear:both;
}

div#container {
	width:1000px;
	margin:0 auto;
	padding:0;
}


/************* Format Table ***************/
table#purchases {
	width:1000px;
	margin:0 auto;
	padding:0;
	text-align:center;
}

#purchases tr {
	height:100px;
	width:900px;
	padding:0;
}

#purchases tr.altrow {
	background-color: #ddd;
}

#purchases tr.actions {
	background-color: #aaa;
	height:50px;
}

#purchases td {
	margin: 10px;
	overflow-y:auto;
	max-height:100px;
	padding:0;
}

#purchases td.altcol {
	background-color:#ff0;
}

/************* Format Add Stuff ***************/
.add {
	background-color: rgba(11,97,162,0.7);
	color: #fff;
	padding: 40px;
	width: 0px;
	height: 0px;
	border: rgba(125,125,125,0.3) solid 7px;
	border-radius: 35px;
	z-index: 1;
}

.hide {
	overflow: hidden;
}

.footnote {
	font-size: 12px;
	color: #ccc;
	text-align:center;
}

#inputform {
	margin: 0 auto;
	width:600px;
}

#return {
	/*basic styles*/
	width: 250px;  height: 70px;  color: #fff; background-color: #000;
	text-align: center;  font-size: 30px;  /*line-height: 50px;*/

	/*gradient styles*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f2f2f), color-stop(.5, #1e1f1f), color-stop(.51, #0c0c0c), to(#000));
	background: -moz-linear-gradient(top, #2f2f2f, #1e1f1f 50%, #0c0c0c 51%, #000);  

	/*border styles*/
	border-top: solid 2px #555;
	border-bottom: solid 2px #111;

	-moz-box-shadow:inset 0 0 15px #000000;
	-webkit-box-shadow:inset 0 0 15px #000000;
	box-shadow:inset 0 0 15px #000000;
}


#return p {
	font-size: 30px;
	/*line-height: 70px;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-shadow: 0px 0px 3px #888;
	margin: 0.60em;
}

#return a {
	text-decoration: none;
	color: #fff;
}

#return:hover {
	-moz-box-shadow:inset 0 0 50px #000000;
	-webkit-box-shadow:inset 0 0 50px #000000;
	box-shadow:inset 0 0 50px #000000;
}

#return p:hover {
	text-shadow: 0px 0px 3px #444;
}

/************************* MISC ***************************/
.centered {
	text-align: center;
	margin: 0 auto;
	width:200px;
}

#delete {
	background-color: rgb(200,0,2);
	font-size:100px;
	margin: 0 auto;
	width: 400px;
	font-family: "Geneva", "Helvetica Neue", sans-serif;
	border-radius: 37px;
	border-color: rgb(200,0,0);
}

#deleteform {
	width: 400px;
	margin: 0 auto;
}

.success {
	background-color: rgba(255,0,0,0.7);
	padding: 20px;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	color:rgb(255,255,240);
}