html, body {
	margin:0;
	padding:0;
	font-family: "Geneva", "Lucida Grande", Helvetica, sans-serif;
	clear:both;
}

div#container {
	width:1000px;
	margin:0 auto;
	padding:0;
}


/************* Format Table ***************/
table#purchases {
	width:1000px;
	margin:0 auto;
	padding:0;
	text-align:center;
}

#purchases tr {
	height:100px;
	width:900px;
	padding:0;
}

#purchases tr.altrow {
	background-color: #ddd;
}

#purchases tr.actions {
	background-color: #aaa;
	height:50px;
}

#purchases td {
	margin: 10px;
	overflow-y:auto;
	max-height:100px;
	padding:0;
}

#purchases td.altcol {
	background-color:#ff0;
}

